.wrap-board {
    font-weight: normal;
    max-width: 1230px;
    margin: 0 auto;
}
.text {
    order: 2;
    padding-top: 40px;
    width: 470px;
    font-weight: bold;
}
.title-2048 {
    color: #25617a;
    font-size: 62px;
    margin: 0;
    line-height: 70px;
    text-align: center;
}
.board {
    order: 1;
    width: 490px;
    height: 490px;
    padding: 5px;
    border-radius: 7px;
    outline: none;
    position: relative;
    background: #006d81;
    margin: 0 auto;
}

.board .cell,
.tile {
    user-select: none;
    cursor: default;
}
.score-box {
    background-color: #3d2963;
    color: rgba(255, 255, 255, 0.5);
    min-width: 50px;
    width: 70px;
    padding: 5px 15px;
    border-radius: 7px;
}

.cell,
.tile {
    width: 110px;
    height: 110px;
    margin: 5px;
    line-height: 100px;
    display: inline-block;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    border-radius: 7px;
    background-color: #007691;
    color: #fff;
}

.tile {
    background-position: center center;
    background-size: cover;
    filter: saturate(90%);
}

.tile2,
.tile4 {
    background: rgb(15, 132, 183);
    background: linear-gradient(
        180deg,
        rgba(15, 132, 183, 1) 0%,
        rgba(3, 170, 225, 1) 100%
    );
}

.tile8 {
    background: rgb(0, 160, 205);
    background: linear-gradient(
        180deg,
        rgba(0, 160, 205, 1) 0%,
        rgba(0, 209, 235, 1) 100%
    );
}
.tile16 {
    background: rgb(0, 180, 163);
    background: linear-gradient(
        180deg,
        rgba(0, 180, 163, 1) 0%,
        rgba(0, 224, 213, 1) 100%
    );
}

.tile32 {
    background: rgb(0, 170, 143);
    background: linear-gradient(
        180deg,
        rgba(0, 170, 143, 1) 0%,
        rgba(0, 224, 190, 1) 100%
    );
}

.tile64 {
    background: rgb(0, 173, 94);
    background: linear-gradient(
        180deg,
        rgba(0, 173, 94, 1) 0%,
        rgba(0, 226, 126, 1) 100%
    );
}

.tile128 {
    background: rgb(95, 187, 85);
    background: linear-gradient(
        180deg,
        rgba(95, 187, 85, 1) 0%,
        rgba(135, 230, 115, 1) 100%
    );
}
.tile256 {
    background: rgb(140, 190, 63);
    background: linear-gradient(
        180deg,
        rgba(140, 190, 63, 1) 0%,
        rgba(190, 229, 88, 1) 100%
    );
}
.tile512 {
    background: rgb(211, 138, 65);
    background: linear-gradient(
        180deg,
        rgba(211, 138, 65, 1) 0%,
        rgba(241, 184, 86, 1) 100%
    );
}

.tile1024 {
    background: rgb(226, 165, 88);
    background: linear-gradient(
        180deg,
        rgba(226, 165, 88, 1) 0%,
        rgba(236, 197, 105, 1) 100%
    );
}
.tile2048,
.tile4096 {
    background: rgb(226, 188, 78);
    background: linear-gradient(
        180deg,
        rgba(226, 188, 78, 1) 0%,
        rgba(243, 229, 110, 1) 100%
    );
}
.youWin {
    position: absolute;
    background-size: contain;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0px;
    color: #fff;
    background-image: url(../js/assets/images/sinhnhat/2048/2048.gif);
    font-size: 35px;
}

.gameOver {
    background-size: contain;
    background-image: url(../js/assets/images/sinhnhat/2048/game-over.gif);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    text-align: center;
}

.tile {
    position: absolute;
}

.tile.merged {
    display: none;
}

.tile.merged.isMoving {
    display: inline;
}

.tile.new,
.overlay {
    animation-duration: 0.2s;
    animation-name: newTile;
    animation-fill-mode: forwards;
    animation-delay: 0.15s;
    transform: scale(0);
}

@keyframes newTile {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.overlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    left: 0px;
    right: 0px;
    font-size: 55px;
    font-weight: bolder;
    border-radius: 7px;
}

.tryAgain {
    background-color: #876;
    color: #fff;
    height: 40px;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    border: 2px solid white;
}

.gameOver {
    background-size: contain;
    //background-image: url(../js/assets/images/sinhnhat/2048/game-over.gif);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    text-align: center;
}

.try-again-image {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.overlay .message {
    color: #666;
}

.devicon-github-original-wordmark {
    font-size: 55px;
}
.align-item-center {
    align-items: center;
}
@media only screen and (max-width: 450px) {
    .header {
        font-size: 4em;
        margin-bottom: -5px;
    }

    .subheader {
        font-size: 14px;
    }

    .details-box {
        margin-top: -20px;
    }

    .text,
    .board,
    .instructions {
        width: 352px;
    }

    .board {
        margin-bottom: 10px;
        height: 352px;
    }

    .score-box {
        min-width: 30px;
        width: 56px;
    }

    .cell,
    .tile {
        width: 80px;
        height: 80px;
        margin: 4px;
    }

    .try-again {
        width: 80px;
    }

    .tryAgain {
        width: 160px;
    }

    .devicon-github-original-wordmark {
        font-size: 47px;
    }
}
.position_0_0:not(.isMoving) {
    top: 5px;
    left: 5px;
}

.position_0_1:not(.isMoving) {
    top: 5px;
    left: 125px;
}

.position_0_2:not(.isMoving) {
    top: 5px;
    left: 245px;
}

.position_0_3:not(.isMoving) {
    top: 5px;
    left: 365px;
}

.position_1_0:not(.isMoving) {
    top: 125px;
    left: 5px;
}

.position_1_1:not(.isMoving) {
    top: 125px;
    left: 125px;
}

.position_1_2:not(.isMoving) {
    top: 125px;
    left: 245px;
}

.position_1_3:not(.isMoving) {
    top: 125px;
    left: 365px;
}

.position_2_0:not(.isMoving) {
    top: 245px;
    left: 5px;
}

.position_2_1:not(.isMoving) {
    top: 245px;
    left: 125px;
}

.position_2_2:not(.isMoving) {
    top: 245px;
    left: 245px;
}

.position_2_3:not(.isMoving) {
    top: 245px;
    left: 365px;
}

.position_3_0:not(.isMoving) {
    top: 365px;
    left: 5px;
}

.position_3_1:not(.isMoving) {
    top: 365px;
    left: 125px;
}

.position_3_2:not(.isMoving) {
    top: 365px;
    left: 245px;
}

.position_3_3:not(.isMoving) {
    top: 365px;
    left: 365px;
}

.row_from_0_to_0 {
    top: 5px;
}

.row_from_0_to_1 {
    animation-duration: 0.2s;
    animation-name: row_from_0_to_1;
    animation-fill-mode: forwards;
}

@keyframes row_from_0_to_1 {
    from {
        top: 5px;
    }
    to {
        top: 125px;
    }
}
.row_from_0_to_2 {
    animation-duration: 0.2s;
    animation-name: row_from_0_to_2;
    animation-fill-mode: forwards;
}

@keyframes row_from_0_to_2 {
    from {
        top: 5px;
    }
    to {
        top: 245px;
    }
}
.row_from_0_to_3 {
    animation-duration: 0.2s;
    animation-name: row_from_0_to_3;
    animation-fill-mode: forwards;
}

@keyframes row_from_0_to_3 {
    from {
        top: 5px;
    }
    to {
        top: 365px;
    }
}
.row_from_1_to_0 {
    animation-duration: 0.2s;
    animation-name: row_from_1_to_0;
    animation-fill-mode: forwards;
}

@keyframes row_from_1_to_0 {
    from {
        top: 125px;
    }
    to {
        top: 5px;
    }
}
.row_from_1_to_1 {
    top: 125px;
}

.row_from_1_to_2 {
    animation-duration: 0.2s;
    animation-name: row_from_1_to_2;
    animation-fill-mode: forwards;
}

@keyframes row_from_1_to_2 {
    from {
        top: 125px;
    }
    to {
        top: 245px;
    }
}
.row_from_1_to_3 {
    animation-duration: 0.2s;
    animation-name: row_from_1_to_3;
    animation-fill-mode: forwards;
}

@keyframes row_from_1_to_3 {
    from {
        top: 125px;
    }
    to {
        top: 365px;
    }
}
.row_from_2_to_0 {
    animation-duration: 0.2s;
    animation-name: row_from_2_to_0;
    animation-fill-mode: forwards;
}

@keyframes row_from_2_to_0 {
    from {
        top: 245px;
    }
    to {
        top: 5px;
    }
}
.row_from_2_to_1 {
    animation-duration: 0.2s;
    animation-name: row_from_2_to_1;
    animation-fill-mode: forwards;
}

@keyframes row_from_2_to_1 {
    from {
        top: 245px;
    }
    to {
        top: 125px;
    }
}
.row_from_2_to_2 {
    top: 245px;
}

.row_from_2_to_3 {
    animation-duration: 0.2s;
    animation-name: row_from_2_to_3;
    animation-fill-mode: forwards;
}

@keyframes row_from_2_to_3 {
    from {
        top: 245px;
    }
    to {
        top: 365px;
    }
}
.row_from_3_to_0 {
    animation-duration: 0.2s;
    animation-name: row_from_3_to_0;
    animation-fill-mode: forwards;
}

@keyframes row_from_3_to_0 {
    from {
        top: 365px;
    }
    to {
        top: 5px;
    }
}
.row_from_3_to_1 {
    animation-duration: 0.2s;
    animation-name: row_from_3_to_1;
    animation-fill-mode: forwards;
}

@keyframes row_from_3_to_1 {
    from {
        top: 365px;
    }
    to {
        top: 125px;
    }
}
.row_from_3_to_2 {
    animation-duration: 0.2s;
    animation-name: row_from_3_to_2;
    animation-fill-mode: forwards;
}

@keyframes row_from_3_to_2 {
    from {
        top: 365px;
    }
    to {
        top: 245px;
    }
}
.row_from_3_to_3 {
    top: 365px;
}

.column_from_0_to_0 {
    left: 5px;
}

.column_from_0_to_1 {
    animation-duration: 0.2s;
    animation-name: column_from_0_to_1;
    animation-fill-mode: forwards;
}

@keyframes column_from_0_to_1 {
    from {
        left: 5px;
    }
    to {
        left: 125px;
    }
}
.column_from_0_to_2 {
    animation-duration: 0.2s;
    animation-name: column_from_0_to_2;
    animation-fill-mode: forwards;
}

@keyframes column_from_0_to_2 {
    from {
        left: 5px;
    }
    to {
        left: 245px;
    }
}
.column_from_0_to_3 {
    animation-duration: 0.2s;
    animation-name: column_from_0_to_3;
    animation-fill-mode: forwards;
}

@keyframes column_from_0_to_3 {
    from {
        left: 5px;
    }
    to {
        left: 365px;
    }
}
.column_from_1_to_0 {
    animation-duration: 0.2s;
    animation-name: column_from_1_to_0;
    animation-fill-mode: forwards;
}

@keyframes column_from_1_to_0 {
    from {
        left: 125px;
    }
    to {
        left: 5px;
    }
}
.column_from_1_to_1 {
    left: 125px;
}

.column_from_1_to_2 {
    animation-duration: 0.2s;
    animation-name: column_from_1_to_2;
    animation-fill-mode: forwards;
}

@keyframes column_from_1_to_2 {
    from {
        left: 125px;
    }
    to {
        left: 245px;
    }
}
.column_from_1_to_3 {
    animation-duration: 0.2s;
    animation-name: column_from_1_to_3;
    animation-fill-mode: forwards;
}

@keyframes column_from_1_to_3 {
    from {
        left: 125px;
    }
    to {
        left: 365px;
    }
}
.column_from_2_to_0 {
    animation-duration: 0.2s;
    animation-name: column_from_2_to_0;
    animation-fill-mode: forwards;
}

@keyframes column_from_2_to_0 {
    from {
        left: 245px;
    }
    to {
        left: 5px;
    }
}
.column_from_2_to_1 {
    animation-duration: 0.2s;
    animation-name: column_from_2_to_1;
    animation-fill-mode: forwards;
}

@keyframes column_from_2_to_1 {
    from {
        left: 245px;
    }
    to {
        left: 125px;
    }
}
.column_from_2_to_2 {
    left: 245px;
}

.column_from_2_to_3 {
    animation-duration: 0.2s;
    animation-name: column_from_2_to_3;
    animation-fill-mode: forwards;
}

@keyframes column_from_2_to_3 {
    from {
        left: 245px;
    }
    to {
        left: 365px;
    }
}
.column_from_3_to_0 {
    animation-duration: 0.2s;
    animation-name: column_from_3_to_0;
    animation-fill-mode: forwards;
}

@keyframes column_from_3_to_0 {
    from {
        left: 365px;
    }
    to {
        left: 5px;
    }
}
.column_from_3_to_1 {
    animation-duration: 0.2s;
    animation-name: column_from_3_to_1;
    animation-fill-mode: forwards;
}

@keyframes column_from_3_to_1 {
    from {
        left: 365px;
    }
    to {
        left: 125px;
    }
}
.column_from_3_to_2 {
    animation-duration: 0.2s;
    animation-name: column_from_3_to_2;
    animation-fill-mode: forwards;
}

@keyframes column_from_3_to_2 {
    from {
        left: 365px;
    }
    to {
        left: 245px;
    }
}
.column_from_3_to_3 {
    left: 365px;
}
