@import './fonts.scss';
$fontMenu: #664b11;
body {
    font-family: 'Myriad Pro', sans-serif;
    font-weight: 400;
}
.font_spiegel {
    font-family: 'Spiegel', sans-serif;
    font-weight: normal;
}
.font_beaufort {
    font-family: 'Beaufort', sans-serif;
    font-weight: 400;
}
.font_myriad_con {
    font-family: 'Myriad Pro Con';
}
.w700 {
    font-weight: 700;
}
.w900 {
    font-weight: 900;
}
.w600 {
    font-weight: 600;
}
.size68 {
    font-size: 68px;
}
.app-wrapper {
    .wrapper-birthday {
        font-family: 'Myriad Pro', sans-serif;
        font-weight: 400;
        .box-slogan {
            padding: 360px 285px 180px 270px;
            background-color: transparent;
            background-image: url(/images/popup_small.svg);
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 707px;
            background-repeat: no-repeat;
            box-shadow: none;
            background-position: center;
            .header-dialog {
                position: relative;
                margin-top: 0;
                .button-close {
                    right: -10px;
                    top: -65px;
                    transition: all .3s ease-in-out;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
            .title-form {
                text-align: left;
                margin: 0;
                font-weight: 600;
                font-size: 18px;
            }
            .content {
                font-family: 'Myriad Pro', serif;
                overflow: hidden;
                font-size: 18px;
                color: #000;
                line-height: 26px;
                text-align: center;
                min-height: 200px;
            }
        }
        .wrapper-main {
            padding-top: 0 !important;
        }
        .main-login {
            background-image: url(../js/assets/images/eventBirthday2024/bg_login_event.svg);
            background-repeat: no-repeat;
            background-size: 100%;
            height: 100vh;
            position: relative;
            background-position: bottom;
            &.bachnhat {
                background-image: url(../js/assets/images/eventBirthday2024/bachnhat_bg.jpg);
                background-size: 100% 100%;
                &:before {
                    display: none;
                }
            }
            .display-flex {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                height: 100%;
                position: relative;
                z-index: 1;
                &.bachnhat {
                    bottom: 25px;
                    .moon {
                        position: absolute;
                        top: 100px;
                        right: 500px;
                    }
                }
            }
        }
        .more {
            line-height: 60px;
            cursor: pointer;
            background-image: url(../js/assets/images/eventBirthday2024/button_login.svg);
            width: 323px;
            height: 60px;
            background-size: 100%;
            text-align: center;
            color: #664b11;
            font-size: 22px;
        }
        .button-close {
            background: url(../js/assets/images/eventBirthday2024/icon_close.svg);
            width: 58px;
            height: 58px;
            cursor: pointer;
            position: absolute;
            right: 75px;
            top: 130px;
            background-size: 100%;
        }
        .title-form {
            font-size: 18px;
            color: #343d40;
            font-weight: 600;
            margin: 0 0 10px;
            text-align: center;
        }
        .navbar {
            position: relative;
            background-color: transparent;
            padding: 30px 40px 0;
            .menu {
                list-style: none;
                display: flex;
                margin: 0;
                padding: 0;
                font-family: 'LacLongQuan';
                li {
                    padding: 0 20px;
                    position: relative;

                    &:last-child {
                        a {
                            &::before {
                                content: none;
                            }
                        }
                    }
                    a {
                        text-transform: uppercase;
                        font-size: 18px;
                        line-height: 30px;
                        color: #fff;
                        transition: all 0.3s ease-in-out;
                        -webkit-transition: all 0.3s ease-in-out;
                        -moz-transition: all 0.3s ease-in-out;
                        -ms-transition: all 0.3s ease-in-out;
                        -o-transition: all 0.3s ease-in-out;
                        position: relative;
                        &::after {
                            content: '';
                            border-bottom: 2px solid #fff;
                            width: 0;
                            transition: all 0.3s ease-in-out;
                            -webkit-transition: all 0.3s ease-in-out;
                            -moz-transition: all 0.3s ease-in-out;
                            -ms-transition: all 0.3s ease-in-out;
                            -o-transition: all 0.3s ease-in-out;
                            position: absolute;
                            bottom: -5px;
                            left: 0;
                        }
                        &:hover {
                            transition: all 0.3s ease-in-out;
                            -webkit-transition: all 0.3s ease-in-out;
                            -moz-transition: all 0.3s ease-in-out;
                            -ms-transition: all 0.3s ease-in-out;
                            -o-transition: all 0.3s ease-in-out;
                            &::after {
                                width: 100%;
                            }
                        }
                        &::before {
                            content: '';
                            position: absolute;
                            right: -20px;
                            width: 2px;
                            height: 15px;
                            background-color: #fff;
                            top: 50%;
                            transform: translate(0px, -5px);
                            -webkit-transform: translate(0px, -5px);
                            -moz-transform: translate(0px, -5px);
                            -ms-transform: translate(0px, -5px);
                            -o-transform: translate(0px, -5px);
                        }
                    }
                }
                &.white {
                    li {
                        a {
                            color: #fff;
                            &::after {
                                border-color: #fff;
                            }
                            &::before {
                                background-color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes bg_move {
    0% {
        background-position-y: 0;
    }
    50% {
        background-position-y: 10px;
    }
    100% {
        background-position-y: 0;
    }
}
