// base color
$blue: #324157;
$light-blue: #3a71a8;
$red: #c03639;
$pink: #e65d6e;
$panPink: #f0a2ab;
$green: #30b08f;
$tiffany: #4ab7bd;
$yellow: #fec171;
$panGreen: #30b08f;
$colorBlack: #101111;
$lightGray: rgb(237, 236, 236);
$lightBlack: rgb(0, 0, 0, 0.3);
$primary: #fc6e08;
$orange: #ed9534;
$color-gray-5: #a9a9ba;
$color-accent-5: #ed7361;
// sidebar
$menuText: #bfcbd9;
$menuActiveText: #409eff;
$subMenuActiveText: #f4f4f5; // https://github.com/ElemeFE/element/issues/12951

$menuBg: #304156;
$menuHover: #263445;

$subMenuBg: #1f2d3d;
$subMenuHover: #001528;

$sideBarWidth: 210px;

$bgWhite: #fff;
$borderGray: rgb(237 236 236);
$boxShadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.4);
$margin20: 20px;
$fontsize16: 16px;
$size5: 5px;
$size10: 10px;
$size12: 12px;
$size14: 14px;
$size15: 15px;
$size16: 16px;
$size20: 20px;
$size24: 24px;
$size25: 25px;
$size28: 28px;
$size30: 30px;
$size40: 40px;
$size5: 5px;
$pd10: 10px;
$fontMenu: #66494e;
// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
    menuText: $menuText;
    menuActiveText: $menuActiveText;
    subMenuActiveText: $subMenuActiveText;
    menuBg: $menuBg;
    menuHover: $menuHover;
    subMenuBg: $subMenuBg;
    subMenuHover: $subMenuHover;
    sideBarWidth: $sideBarWidth;
    boxShadow: $boxShadow;
    borderGray: $borderGray;
    bgWhite: $bgWhite;
}
